aiogram==3.14.0             # Библиотека для работы с Telegram API и создания Telegram-ботов
beautifulsoup4==4.12.3      # Библиотека для парсинга HTML и XML, используется для анализа данных из веб-источников
greenlet==3.1.1             # Нужен для поддержки асинхронных операций в SQLAlchemy и других асинхронных библиотеках
langchain==0.3.7            # Инструменты для создания цепочек взаимодействий и работы с языковыми моделями
langchain-community>=0.3.8
langchain-core==0.3.28
langchain-openai==0.2.9
langchain-text-splitters==0.3.2
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.48
langsmith==0.1.142
openai==1.55.0              # Клиент OpenAI для взаимодействия с GPT и другими моделями
openpyxl==3.1.5             # Работа с Excel-файлами в формате .xlsx (создание, чтение, редактирование)
pandas==2.1.1               # Работа с табличными данными и анализ данных
python-dotenv==1.0.0        # Загрузка переменных окружения из файла .env
SQLAlchemy==2.0.36          # ORM-библиотека для работы с реляционными базами данных
httpx==0.27.2               # HTTP-клиент для Python
numpy==1.26.4               # Библиотека для работы с массивами и матрицами
requests==2.31.0            # Библиотека для выполнения HTTP-запросов
pdfplumber==0.11.4          # Библиотека для работы с PDF-файлами
python-docx==0.8.11         # Библиотека для работы с Word документами
psycopg2-binary==2.9.9      # PostgreSQL-драйвер для взаимодействия с базой данных
psycopg==3.1.8              # Асинхронный PostgreSQL-драйвер
pydantic==2.9.2
