aiogram==3.14.0             # Последняя версия aiogram для работы с Telegram API
SQLAlchemy==2.0.36          # Последняя версия SQLAlchemy для ORM и взаимодействия с базой данных PostgreSQL
psycopg2-binary==2.9.9      # Драйвер для PostgreSQL
python-dotenv==1.0.0        # Для загрузки переменных окружения из .env
langchain==0.0.3            # Последняя версия LangChain для работы с цепочками
openai==0.12.0              # Библиотека OpenAI для генерации текста (если используется)
pandas==2.1.1               # Для работы с табличными данными, особенно при сегментации лидов
beautifulsoup4==4.12.3
greenlet==3.1.1
openai==1.55.0
openpyxl==3.1.5